# LANGSMITH DEPLOYMENT
LANGSMITH_API_KEY=""
LANGCHAIN_TRACING_V2=""
LANGCHAIN_PROJECT=""
LANGCHAIN_ENDPOINT=""

PORT=""

# postgres
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT="5432"

# qdrant 
QDRANT_HOST=""
QDRANT_PORT=""
VECTOR_DIMENSIONS=""
 
#dial keys
AZURE_API_KEY=""
AZURE_API_VERSION=""
AZURE_ENDPOINT=""
AZURE_CHAT_FLAG_MODEL=""
AZURE_EMBEDDING_MODEL=""

#MCP server
MCP_SERVER_HOST=""
MCP_SERVER_PORT=""